
#container {
    width: 100%;
    height: 100%;
    padding: 8px;
    display: grid;
    
    /* 6 cột với kích thước bằng nhau */
    grid-template-columns: 248px repeat(5, 1fr); 
  
    /* Chia các hàng hợp lý: 1 hàng header, 9 hàng main */
    grid-template-rows: 60px repeat(9, 1fr);
  
    grid-template-areas:
    'side header header header header header'
    'side  main main main main main'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main';
  
  
    gap: 8px;
  }
#head{
    background-color: white;
    grid-area: header;
    border-radius: 16px;

}
#side{
    background-color: white;
    border-radius: 20px;
    grid-area: side;
}
#main{
    background-color: white;
    grid-area: main;
    border-radius: 16px;

}
